.header{
    border: 5px yellowgreen solid;
}

.textoheader{
    font: bolder;
    font-size: 30px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline 3px;
    text-align: center;
}